html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;          /* važno za vertikalni scroll */
  overflow-y: hidden;    /* uklanja vertikalni scroll */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow-x: hidden; /* horizontalni scroll */
  overflow-y: auto;   /* vertikalni scroll samo kad treba */
}